---
title: Mobile Route
---
div.row
  div.col-sm-4
    h3 Следите
    dl
      dt Координаты
      dd Мы показываем координаты с точностью до 1 сантиметра
      dt Время
      dd Узнайте точное время прибытия вашего курьера к клиенту.
      dt Задания
      dd Отслеживайте порученные задания
  div.col-sm-4
    h3 Development Tools
    dl
      dt <a href="http://gulpjs.com">Gulp</a>
      dd JavaScript streaming build system and task automation
      dt <a href="http://webpack.github.io/">Webpack</a>
      dd Compiles front-end source code into modules / bundles
      dt <a href="http://www.browsersync.io/">BrowserSync</a>
      dd A lightweight HTTP server for development
  div.col-sm-4
    h3 Fork me on GitHub
    p <a href="https://github.com/kriasoft/react-starter-kit">github.com/kriasoft/react-starter-kit</a>
  div.col-sm-12
    form.form-inline
      div.form-group
        label(for="exampleInputName2") Name
        input.form-control#exampleInputName2(type="text", placeholder="Jane Doe")
      div.form-group
        label(for="exampleInputEmail2") Email
        input.form-control#exampleInputEmail2(type="email", placeholder="jane.doe@example.com")
      button.btn.btn-default(type="submit") Send invitation
