---
title: Mobile Route
---
div.row
  div.col-sm-4
    h3 Следите
    dl
      dt Координаты
      dd Мы показываем координаты с точностью до 1 сантиметра
      dt Время
      dd Узнайте точное время прибытия вашего курьера к клиенту.
      dt Задания
      dd Отслеживайте порученные задания
  div.col-sm-4
    h3 Development Tools
    dl
      dt <a href="http://gulpjs.com">Gulp</a>
      dd JavaScript streaming build system and task automation
      dt <a href="http://webpack.github.io/">Webpack</a>
      dd Compiles front-end source code into modules / bundles
      dt <a href="http://www.browsersync.io/">BrowserSync</a>
      dd A lightweight HTTP server for development
  div.col-sm-4
    h3 Fork me on GitHub
    p <a href="https://github.com/kriasoft/react-starter-kit">github.com/kriasoft/react-starter-kit</a>
