---
title: Mobile Route
---
.header
  .container
    .header-info
      .logo
        a(href='#')
          img.img-responsive(src='images/logo.png', alt='')
      .header-right
        .menu
          span.menu MENU
          ul.navigatoin
            li
              a.scroll(href='#Home') Главная
            li
              a.scroll(href='#About') Узнать больше
            li
              a.scroll(href='#Services') Услуги
            li
              a.scroll(href='#Features') Примеры
            li
              a.scroll(href='#Price') Цены
            li
              a.scroll(href='#Contact') Контакты
            a.signup.play-icon.popup-with-zoom-anim(href='#small-dialog2') Войти
      // script-nav
      script.
        $("span.menu").click(function(){
          $("ul.navigatoin").slideToggle("slow" , function(){
          });
        });
      script(type='text/javascript').
        jQuery(document).ready(function($) {
          $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
          });
        });
      .clearfix
      // /script-nav
      .clearfix
    // pop-up-box
    script(type='text/javascript', src='js/modernizr.custom.min.js')
    link(href='css/popuo-box.less', rel='stylesheet', type='text/css', media='all')
    script(src='js/jquery.magnific-popup.js', type='text/javascript')
    // //pop-up-box
    #small-dialog2.mfp-hide
      .signup
        h3 Login
        h4
          a(href='#') let's get started
        input.email(type='text', placeholder='Email', required='')
        input(type='password', placeholder='Password', required='')
        input(type='submit', value='Login')
    script.
      $(document).ready(function() {
        $('.popup-with-zoom-anim').magnificPopup({
          type: 'inline',
          fixedContentPos: false,
          fixedBgPos: true,
          overflowY: 'auto',
          closeBtnInside: true,
          preloader: false,
          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-zoom-in'
        });
      });
  #Home.header-bottom
    .container
      .clo-sm-4.h-left
        span
      .col-sm-8.h-right
        h1 Маршрутизатор вашего бизнеса.
        p
          | Lollipop liquorice lollipop ice cream cheesecake halvah jelly-o. Gummies
          | lollipop macaroon marshmallow icing. Cookie chupa chups cake dessert
          | lollipop marzipan donut apple pie. Cookie cotton candy oat cake sweet roll
          | topping apple pie marzipan.
        .buttons
          input(type='button', value='НАЧАТЬ СЕЙЧАС')
          input.act(type='button', value='УЗНАТЬ БОЛЬШЕ')
    .clearfix
// /header
// about
#About.about
  .container
    .about-info
      .col-md-8.about-left
        h2 Работает на вас
        p
          | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
        .sc-icons
          a(href='#')
            span.icon1
          a(href='#')
            span.icon2
          a(href='#')
            span.icon3
          a(href='#')
            span.icon4
      .col-md-4.about-right
        img.img-responsive(src='images/carry-bags.png', alt='')
      .clearfix
#Services.services
  .container
    .services-grids
      .col-md-4.grids-info
        i.icon1
        h3 Title Goes Here
        p
          | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
      .col-md-4.grids-info
        i.icon2
        h3 Title Goes Here
        p
          | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
      .col-md-4.grids-info
        i.icon3
        h3 Title Goes Here
        p
          | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
      .clearfix
// /services
// Features
#Features.Features
  .container
    .Features-info
      .Features-info-top
        h3 Lorem Ipsum Dolor Sit Amet
        p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
      .slider
        ul#slider1.rslides
          li
            img(src='images/slider.png', alt='')
          li
            img(src='images/slider.png', alt='')
          li
            img(src='images/slider.png', alt='')
// /Features
// price
#Price.price
  .container
    .price-info
      h3 SELECT THE PRICE THAT YOU LIKE
      p
        | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        | suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    .price-grid
      .price-column
        .price-col-top
          h4 ECONOMY
          .price-col-bottom
            h5 5$
            span.p-line
            ul.pr-list
              li 2 GB
              li 200MB
              li UNLIMITED
              li 1 Members
              li 1 e-Mail accounts
            a(href='#') SIGN UP
        .clearfix
      .price-column
        .price-col-top-in
          h4 PERSONAL
          .price-col-bottom-in
            h3 15$
            span.p-line
            ul.pr-list
              li 5 GB
              li 500MB
              li UNLIMITED
              li 2 Members
              li 2 e-Mail accounts
            a(href='#') SIGN UP
        .clearfix
      .price-column
        .price-col-top-inn
          h4 BUSINESS
          .price-col-bottom-inn
            h6 20$
            span.p-line
            ul.pr-list
              li 10 GB
              li 1 GB
              li UNLIMITED
              li 5 Members
              li 5 e-Mail accounts
            a(href='#') SIGN UP
        .clearfix
      .clearfix
// /price
// contact
#Contact.contact
  .container
    h3 CONTACT US
    .contact-us
      .col-md-6.contact-info
        ul.icon-menu
          li.ion
            a(href='#')
              img(src='images/01.png')
          li.fon
            p 7 Street, Block 15B No.1C Polda I Beringin Raya Bandar Lampung
        form
          input.text(type='text', value='Your name', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'First name...';}")
          input.text(type='text', value='Your email', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Last name...';}")
          .dropdown-button
            select.dropdown(tabindex='9', data-settings='{"wrapperClass":"flat"}')
              option(value='0') Choose your Subject
              option(value='1') ullamcorper
              option(value='2') placerat
              option(value='3') sollemnes
              option(value='4') accumsan
              option(value='5') autem
              option(value='6') nostrud
              option(value='7') sequitu
              option(value='8') Mirum
      .col-md-6.contact-intro
        .contact-information
          ul.contact-in
            li.iod
            li.ion
              a(href='#')
                img(src='images/02.png')
            li.elt
              p (0271) 123 - 456
        .contact-infor
          ul.contact-is
            li.iod-1
            li.ion
              a(href='#')
                img(src='images/03.png')
            li.elt-1
              p
                a(href='mailto:info(at)sector.com') company-email@gmail.com
          textarea(onfocus="if(this.value == 'Message...') this.value='';", onblur="if(this.value == '') this.value='Message...';") Message...
          input(type='submit', value='SUBMIT')
      .clearfix
// /contact
// footer
.footer
  .container
    .copy-rights
      p
        | Powered by
        a(href='http://MobileRoute.com/') MobileRoute.
    script(type='text/javascript').
      $(document).ready(function() {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */
        $().UItoTop({ easingType: 'easeOutQuart' });
      });
    a#toTop(href='#', style='display: block;')
      span#toTopHover(style='opacity: 1;')
// /footer
